<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav>
      cyPHer
      <div id="part">
        <a href="">Home</a>
        <a href="/home/camera.html">Camera</a>
        <a href="/flask/templates/dashboard.html">DashBoard</a>
      </div>
      <a href="/home/login.html">Login</a>
    </nav>
    <div class="container my-5">
      <h3>Add Criminal Details</h3>
      <form action="/" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="image_file" class="form-label">Upload Photo</label>
          <input
            type="file"
            class="form-control"
            id="image_file"
            aria-describedby="nameHelp"
            accept="image/jpeg, image/png, image/jpg"
            name="image_file"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputName1" class="form-label">Enter Name</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputName1"
            aria-describedby="nameHelp"
            name="name"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Father's Name</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleFatherName1"
            name="fatherName"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputDob1" class="form-label">Date Of Birth</label>
          <input type="date" class="form-control" id="exampleDob1" name="dob" />
        </div>
        <div class="mb-3">
          <label for="exampleInputAddress1" class="form-label">Address</label>
          <input
            type="text"
            class="form-control"
            id="exampleAddress1"
            name="address"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputNumber1" class="form-label"
            >Mobile Number</label
          >
          <input
            type="number"
            class="form-control"
            id="exampleNumber1"
            name="number"
          />
        </div>

        <div class="mb-3">
          <label for="exampleInputCrimeDate1" class="form-label"
            >Crime Date</label
          >
          <input
            type="date"
            class="form-control"
            id="exampleCrimedate1"
            name="crimeDate"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputCrime1" class="form-label"
            >Crime Description</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleCrime1"
            name="crimeDesc"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputComplainant1" class="form-label"
            >Email of Complainant</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleComplainant1"
            name="email"
          />
        </div>

        <button type="submit" class="btn btn-outline-dark">Submit</button>
      </form>
    </div>
    <div class="container my-5">
      <h3>Criminal List</h3>
      {% if allcriminals|length==0 %}
      <div class="alert alert-dark" role="alert">No records</div>
      {% else %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">SNo</th>
            <th scope="col">Photo</th>
            <th scope="col">Name</th>
            <th scope="col">Father's Name</th>
            <th scope="col">Dob</th>
            <th scope="col">Address</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">CrimeDate</th>
            <th scope="col">Crime Description</th>
            <th scope="col">Email Of Comp.</th>
            <th scope="col">Complaint Datetime</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for criminal in allcriminals %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>
              <img
                src="{{ url_for('static', filename=upload_subfolder + '/' + criminal.image_file) }}"
                alt="Criminal Image"
                width="100"
              />
            </td>
            <td>{{criminal.name}}</td>
            <td>{{criminal.fatherName}}</td>
            <td>{{criminal.dob}}</td>
            <td>{{criminal.address}}</td>
            <td>{{criminal.number}}</td>
            <td>{{criminal.crimeDate}}</td>
            <td>{{criminal.crimeDesc}}</td>
            <td>{{criminal.email}}</td>
            <td>{{criminal.date_registered}}</td>
            <td>
              <a
                href="/delete/{{criminal.sno}}"
                type="button"
                class="btn btn-dark btn-sm mx-1 mb-1"
                >Delete</a
              >
              <a
                href="/update/{{criminal.sno}}"
                type="button"
                class="btn btn-dark btn-sm mx-1"
                >Update</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% endif %}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
